<%- include header.ejs %>

<style media="screen">
  .post_wrapper{
    background: #f8f8f8;
    margin: 30px 10px;
  }
</style>
<div class="container">
    <h1>Posts</h1>

    <div class="row post_wrapper">
        <div class="col-md-12">
          <a href="/posts/post-details"><h3>Title Title Title Title Title Title Title </h3></a>
          <p>Details Details Details Details Details Details Details Details Details Details Details Details </p>
          <span class="label label-info">3 Comments</span>
          <span class="label label-info">10 Likes</span>
          <span class="label label-success">Like</span>
        </div>
    </div>
    <div class="row post_wrapper">
        <div class="col-md-12">
          <a href="/posts/post-details"><h3>Title Title Title Title Title Title Title </h3></a>
          <p>Details Details Details Details Details Details Details Details Details Details Details Details </p>
          <span class="label label-info">3 Comments</span>
          <span class="label label-info">10 Likes</span>
          <span class="label label-success">Like</span>
        </div>
    </div>

</div>

<%- include footer.ejs %>
